* { margin: 0px; padding: 0px}

header {
    background-color: #ffeecc;
    height: 140px;
    display: flex;
    position: relative;
}

form {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 5px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    padding: 2px;
}

.logo {
    height: 140px;
    width: 140px;
}

.sin-padding {
    padding: 0px;
}

main {
    margin: 3px;
    padding: 2px;
}

.nav-verde li {
  background-color: #5cb85c
}

.nav-verde li a {
  color: white !important;
}

.nav-verde li a:hover,
.nav-verde li a:focus {
  color: white !important;
  background-color: #4cae4c;
  text-decoration: none;
}

.nav.nav-pills {
    text-align: center;
}

.nav.nav-pills > li {
  float: none;
  display: inline-block;
}

.presentacion {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../multimedia/slogan-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center
}

.presentacion h1{
    color:white;
    font-size: 40px;
}

.parrafo-pres {
    color: white;
    margin: 0 auto;
    padding: 0px 41px;
}

h1 {
    color: black;
}

p {
    font-size: 19px;
}

.parrafos {
    color: black;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding: 0px 37px;
}

.mision {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vision {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.proyectos {
    height: auto;
    display: block;
}

.proyectos img {
    object-fit: cover;
    height: 200px;
    width: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.titulo {
    color: black;
    justify-content: center;
    text-align: center;
    padding: 0px;
}

.proyectos article {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a8ffa8;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.donar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
}

.testimonios {
    height: auto;
}

.testimonios h2 {
    text-align: center;
    margin-top: 25px;
}

.testimonio {
    height: auto;
    padding: 3px;
    margin-left: 5px;
}

.contenido {
    display: flex;
    align-items: center;
    gap: 15px;
}

.galeria {
  padding: 20px;
}

.grupo {
  margin-bottom: 40px;
}

.grupo h2 {
  margin-bottom: 10px;
  font-size: 2.3rem;
  text-align: left;
  color: black
}

.fila-imagenes {
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(300px, 1fr));
  gap: 15px;
}

.fila-imagenes img {
  width: 100%;
  height: 400px;
  display: block;
  object-fit: cover;
  border-radius: 5px;
}

.img-testimonio {
    height: 120px;
}

footer {
    background-color: beige;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}
